@layer base {
    h1,
    h2 {
        @apply font-display;
    }
}

@layer components {
    input[type="text"] {
        @apply 
            pl-0.5
            pr-1.75 
            py-0.25 
            shadow 
            border-blue-base
            border-opacity-25 
            border-2 
            rounded
    }

    .custom-focus:focus {
        @apply border-white outline-none;
    }

    .btn {
        @apply 
            uppercase
            px-1.75
            py-1
            rounded-full
            font-bold
            leading-none
    }

    .btn--primary {
        @apply 
            bg-gradient-to-br 
            from-pink-base
            to-peach
            text-white
            focus-within:bg-none
            focus-within:bg-pink-dark
            hover:bg-none
            hover:bg-pink-dark
            active:bg-pink-darker
    }
    
    .btn--secondary {
        @apply 
            border-solid
            border-blue-base
            border-1
            focus-within:bg-blue-base
            focus-within:text-white
            hover:bg-blue-base
            hover:text-white
            active:bg-blue-light
    }
}